#bodyid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
} 
 #logoid {
  margin-right: 20px; 
  border-radius: 13px;
  float: left;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
} 

/* h3 {font-family: 'Beth Ellen', cursive;
} */
#navid ul {
  list-style: none;
  position: relative;
}

#navid ul li {
  float: left;
  
}

#navid ul ul {
  display: none;
  position:absolute;
  
  top: 100%;

  }
  #navid ul ul li {
    float: none;
  }
  
  #navid ul li:hover > ul  {
    display: block;
  
  }
  
  #navid ul > ul::after {
    content:"";
    display:block;
    clear:both;
  }
/*format */
  #navid ul {
    /* margin-top: 3.25em; */
    padding: 0px;
  }
  #navid ul ul{
    margin-top: 2.5em;
    padding: 0px;
  }

  #navid ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display:block;
    width: 170px;
    padding: 10px 1px;
    text-decoration: none;
    background-color: #536c99;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-bottom-right-radius: 35px;
    box-shadow: 5px 5px 10px rgb(24, 24, 24);
    margin: 2px;
    

  }
  
  #navid ul li a:hover {
    background-color: black;
  }
  #cpage {
    
    border-bottom-right-radius: 35px;
    box-shadow: 9px 9px 10px rgb(255, 255, 255);
  }
 
  #photoid img{
    /* padding-top: 60px; */
    /* padding-left: 35px; */
    width: 55%;
    }
 
    #email, #phone {
      vertical-align:bottom;
      transition: width 1s;
    }
#footid{
  padding: 10px;
  background-image:url("images/clould_puz2.png");
  background-repeat:no-repeat;
  background-size: cover;
  
}

#email:hover {
  width: 40px;
}
#phone:hover {
  
  width: 40px;
}

  /*other format */

 
  


  