#bodyid {
background-color:#5fa3cf ;
    display: grid;
    grid-template-columns: 1% 35% 25% 1fr;
    grid-gap:1em;
    grid-template-areas: 
    ". header-area header-area header-area"
". heading-area heading-area liner-area"
". main-area photo-area liner-area"
". main-area photo-area liner-area"
". foot-area foot-area foot-area";
    
    }
#menu-icon {
            background: url(images/burger.svg) no-repeat center;
            display:none;
            width: 45px;
            height: 45px;
        
        }

    @media screen and (max-width:1000px) { 
  p{font-size: smaller;}
  h1{font-size: smaller;}
  h3{font-size: smaller;}
        #menu-icon {
            
            background: url(images/burger.svg) no-repeat bottom;
            display:inline-block;
            width: 45px;
            height: 45px;
        align-content: flex-start;
          

        }

        #logoid {
            margin-right: 20px; 
            border-radius: 13px;
            box-shadow: none;
            
                     } 
          
                     nav ul, nav:active ul{
                        display:none;
                        position: absolute;
                        padding: 0px;
                        top: 100%;
                        left:0px;
                        margin: 0px;
                       
                    }
                    #navid ul ul{
                        margin-top: 4.5em;
                        margin-left: 55%;
                        width: 30%;
                      }
                    nav:hover ul {
                        display: block;
                    }
                    nav li {
                        text-align:top;
                        width: 100%;
                        margin: 0px;
                    }
                    #navid ul li a {
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        display:block;
                        width: 65%;
                        padding: 0px 0px;
                        margin-top: 0px;
                        border-end-end-radius: 0px;
                    }

                    #cpage {
    
                        border-end-end-radius: none;
                        box-shadow: none;
                      }

        #bodyid {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap:1em;
            grid-template-areas: 
            "header-area "
        "heading-area"
        "main-area "
        "foot-area";


        
        }
        #photoid, #linerid {

            display: none;
    
        }
    
    }

    #linerid {

        grid-area: liner-area;

    }

    #puzid {

        height:700px;
        width:400px;
    }



    #headerid{
         
        grid-area: header-area;
        align-content: center; 
    }
    #navid{
        text-align: center;   
        grid-area: nav-area;
    }
    
    
    
    #headingid{
    
        grid-area: heading-area;
    }
    
    #mainid{
       
        grid-area: main-area;
    }
    

    #paraid{
    
        grid-area: para-area;
    }
    #photoid{
       
        grid-area: photo-area;
        text-align: left;        }
       
    
    #quoteid{
    
        grid-area: quote-area;
    }
    #resumeid{
    
        grid-area: resume-area;
    }


    #footid {
     
        grid-area: foot-area;
    }
    